<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BitPy</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
</head>

<body>
    <div class="container" style="padding-top:25px">
        <hgroup>
            <h5>
                BitPy
            </h5>
            <span>Open source url shortener made using flask</span>
        </hgroup>
        <form method="post" action="">
            <input type="url" required minlength="1" name="url" placeholder="input your url"/>
            <button type="submit">Convert</button>
        </form>
  	</div>
  </body>
</html>
